*{
    margin: 0;
    padding: 0;
}
.map {
    position: relative;
    text-align: center;

}
.map img {
    position: absolute;
     width: 500px;
     height: 500px;
     margin: auto;
}
svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:  rgba(0,0,0, 0.5);
}